.freetypeInputContainer{

    margin: 0 auto;
    width: 75%;
    text-align: center;
    float: none;

}

.redWarningText{

    color: rgb(255, 0, 0);

}

.selectSpecieInput{
	height: 500px;
}

.buttonTextQuestion{
    width: 200px;
    margin-top: 15px;
}

@media screen and (min-width: 374px) {
    .freetypeInputContainer {

            margin: 0 auto;
            width: 100%;
            text-align: center;
            float: none;
    }
    .selectSpecieInput{
    	height: 100px;
    }
}
