h2 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;

}

body {

  background-image: url("images/bg1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

}

/*button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}*/
/*button:hover {
  background-color: #cfd8dc;
}*/
/*button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}*/
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

.correctColor{
	color: rgb(43, 255, 0);
}
.inncorrectColor{
	color: rgb(255, 0, 0);
}

.red{
	color: rgb(255, 0, 0);
}
.green{
	color: rgb(0, 255, 0);
}
.blue{
	color: rgb(0, 0, 255);
}
.black{
    color: rgb(0, 0, 0);
}
.white{
    color: rgb(255, 255, 255);
}
