<div *ngFor="#current of specieQuestionObject.getChoices(); #i=index" >
	<button
		class="btn btn-primary"
		style="margin: 5px"
		[disabled]="selectAnswerDisabled()"
		[ngClass]="{	'btn-success': checkIfButtonColorIsCorrect(current.id),
						'btn-danger':  checkIfButtonColorIsWrong(current.id),
						'btn-primary': checkIfButtonIsSelected(current.id)}"
		(click)="setUserChoice(current.id)">

		{{current.name}}

	</button>
	<a *ngIf="inbetweenQuestions" href="https://hembstudios.no/birdid/bird/eBook.php?specieID={{current[0]}}" target="_blank"><img src="../images/book.png"></a>
	<br />
</div>

<br>

<button class="btn btn-primary" (click)="onAnswerButtonClick()">Next Question</button>
