<h1>{{title}}</h1>


<div *ngIf="quizLoaded" class=""> <!-- deleted jumbotron class so the buttons will be more visible  -->
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<birdid-the-quiz-image *ngIf="_quizSettingsService.getQuizSettings()[0].mediaTypeID == 1" [usingMediaID]="mediaID"></birdid-the-quiz-image>
 		<birdid-the-quiz-sound *ngIf="_quizSettingsService.getQuizSettings()[0].mediaTypeID == 2" [usingMediaURL]="mediaURL"></birdid-the-quiz-sound>
	</div>

  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" >

  	<div class="short-div">

		<birdid-the-quiz-freetype></birdid-the-quiz-freetype>

  		<h3> What bird is it? </h3>
    	<div *ngFor="#current of questionAlternatives; #i=index" >
    		<button class="btn btn-primary"  style="margin: 5px" [disabled]="selectAnswerDisabled()"
    				[ngClass]="{'btn-success': checkIfButtonColorIsCorrect(i), 'btn-danger': checkIfButtonColorIsWrong(i),
    					'btn-primary': checkIfButtonIsSelected(i)}"
    				(click)="checkIfAltCorrect(i)">{{current[1]}}
    		</button>
			<a *ngIf="inbetweenQuestions" href="https://hembstudios.no/birdid/bird/eBook.php?specieID={{current[0]}}" target="_blank"><img src="../images/book.png"></a>
			<br />
    	</div>
    </div>
    <div class="short-div">
    	<br>
    	Your score: <b>{{_quizLogicService.getScore()}}</b>
    	<br>
    	Extra Info: {{getQuestionExtraInfo()}}
    	<br><br>
    	<button class="btn btn-primary" (click)="nextQuestion()">Next Question</button>
    	<br><br>

    	Current Mdia ID: <b>{{mediaID}}</b>
    	<br>
    	Media Type ID: <b>{{_quizSettingsService.getQuizSettings()[0].mediaTypeID}}</b>
    	<br>
    	Media Duficulity: <b>{{_quizSettingsService.getQuizSettings()[0].mediaDificulity}}</b>
    	<br>
			Area ID: <b>{{_quizSettingsService.getCurrentAreaName()}}</b>
    	<br>
    	Time Limit: <b>{{_quizSettingsService.getQuizSettings()[0].timeLimit-ticks}}</b>
			<br>Ticks: {{ticks}}
    	<br>
    	Using alternatives: <b>{{_quizSettingsService.getQuizSettings()[0].showAlternatives}}</b>
    	<br>
    	</div>
	</div>
<div style="clear:both"></div>

 </div>
