<div *ngIf="quizLoaded" class=""> <!-- deleted jumbotron class so the buttons will be more visible  -->
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
		<birdid-the-quiz-image
			*ngIf="_quizSettingsService.getQuizSettings()[0].mediaTypeID == 1"
			[specieQuestionObject]="currentQuizQuestion">
		</birdid-the-quiz-image>
 		<birdid-the-quiz-sound
			*ngIf="shouldDisplaySoundComponent()"
			[inbetweenQuestions]="inbetweenQuestions"
			[specieQuestionObject]="currentQuizQuestion">
		</birdid-the-quiz-sound>
	</div>

  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" >
	  <h3> What bird is it? </h3>
<!-- there was short-div before -->
  	<div class="text-left">


		<birdid-the-quiz-choices
			[inbetweenQuestions]="inbetweenQuestions"
			[specieQuestionObject]="currentQuizQuestion"
			(questionDoneEvent)="subSelectCompleteEvent($event)"
			*ngIf="_quizSettingsService.getQuizSettings()[0].showAlternatives">
		</birdid-the-quiz-choices>

		<birdid-the-quiz-freetype
			[inbetweenQuestions]="inbetweenQuestions"
			[specieQuestionObject]="currentQuizQuestion"
			(questionDoneEvent)="subSelectCompleteEvent($event)"
			*ngIf="!_quizSettingsService.getQuizSettings()[0].showAlternatives">
		</birdid-the-quiz-freetype>



    </div>


<!-- there was short-div class before -->
    <div class="text-left">
    	<br>
    	Your score: <b>{{_quizLogicService.getScore()}}</b>
    	<br>
		Time Limit (sec) : <b>{{getDurationUserFriendly()}}</b>
		<br>
		Current Question: <b>{{_quizLogicService.questionNumber+1}} / {{_quizSettingsService.getNumberOfQuestions()}}</b>
    	<br><br>


    	Quiz Type: <b>{{_quizSettingsService.getMediaTypeUserFriendly()}}</b>
    	<br>
    	Difficulty level: <b>{{_quizSettingsService.getQuizSettings()[0].mediaDificulity}}</b>
    	<br>
		Area: <b>{{_quizSettingsService.getCurrentAreaName()}}</b>
    	<br>
    	Using alternatives: <b>{{_quizSettingsService.getAlternativeUserFriendly()}}</b>
    	<br>
		Competition Group: <b>{{_quizSettingsService.getCompetitionGroupIDUserFriendly()}}</b>
		<br>
		Current Media ID: <b>{{currentQuizQuestion.getStringMediaIds()}}</b>
    	<br>
		Extra Info: {{getQuestionExtraInfo()}}

		<br><br>
		Scoring system:<br>
		<b>Right answer +1 point
		<br>Wrong answer -1 point
		<br>Don't know 0 point</b>

    </div>

</div>
<div style="clear:both"></div>

 </div>

<div *ngIf="!quizLoaded" class="">
	<img src="loading.gif" alt="Loading..." height="200" width="200">
</div>
