<div *ngFor="let current of specieQuestionObject.getChoices(); let i=index" >
	<button
		class="btn"
		style="margin: 5px"
		[disabled]="selectAnswerDisabled()"
		[ngClass]="{	'btn-success': checkIfButtonColorIsCorrect(current.id),
						'btn-danger':  checkIfButtonColorIsWrong(current.id),
						'btn-primary': checkIfButtonIsSelected(current.id),
						'btn-info':    checkIfButtonIsDefaultColor(current.id)}"
		(click)="setUserChoice(current.id)">

		{{current.name}} ({{current.latin}})
		<span *ngIf="checkIfButtonIsSelected(current.id, true)">
			<span *ngIf="_quizSettingsService.isSeveralSoundQuiz()"> - <b class="black" >Selected</b></span>
		</span>

	</button>
	<a *ngIf="inbetweenQuestions && current.id > 0" href="https://hembstudios.no/birdid/{{subsiteName}}/eBook.php?specieID={{current.id}}" target="_blank"><img src="book.png"></a>
	<br />
</div>

<br>

<button class="btn btn-primary buttonTextQuestion" (click)="onAnswerButtonClick()">{{nextQuestionTranslation}}</button>
<br><br>
<div *ngIf="disableHints == false">
<button class="btn btn-info" [disabled]="disableHints" (click)="removeWrongAnswer()">Hints</button>: {{hints}}
</div>
