<div *ngIf="!loading">
	<h1>Formal test start</h1>

	<div class="jumbotron formalTestStartInfo">
		{{_quizTranslationService.getTranslationByID(105)}}
		Also remeber to close your windows and hide your kids
	</div>

	<div *ngIf="!accessCodeWrong && _quizAuthenticationService.getAuthenticated()" class="jumbotron formalTestStartInfo">

		<form (ngSubmit)="false" #form="ngForm" >

			<h1>Please enter access code:</h1>

			<div class="unsernameInput input-group">

				<span class="input-group-addon" id="basic-addon1">Access code:</span>
				<input
					type="text"
					id="accessCode"
					name="accessCode"
					ngControl="accessCode"
					[(ngModel)]="formAccessCode"
					#accessCode="ngForm"
					class="form-control"
					placeholder="Your Code"
					aria-describedby="sizing-addon1 basic-addon1"
				required>
				<span class="input-group-addon redWarningText"  *ngIf="!accessCode.valid">Not Valid</span>

			</div>

		</form>

	</div>

	<div *ngIf="accessCodeWrong" class="alert alert-danger formalTestStartInfo">
		<h2>Accesscode inncorect or already used!</h2>
	</div>
	<div *ngIf="!_quizAuthenticationService.getAuthenticated()" class="alert alert-danger formalTestStartInfo">
		<h2>You are not logged inn!</h2>
		<birdid-quiz-login> </birdid-quiz-login>
	</div>

	<button  class="btn btn-primary btn-lg" [disabled]="!_quizAuthenticationService.getAuthenticated()" (click)="onStartButtonClick()">{{_quizTranslationService.getTranslationByID(149)}}</button>
	<button (click)="backToWelcomeFromFormalTest()" type="button" class="btn btn-danger btn-lg ">
		<span class="glyphicon glyphicon-arrow-left"></span> {{backButtonTranslation}}
	</button>
</div>

<div *ngIf="loading">
	<img src="loading.gif" alt="Loading..." height="200" width="200">
</div>
