.imgSummary{
.col-lg-6
.col-md-6
.col-sm-12
.col-xs-12
  -ms-transform: scale(0.2,0.2); /* IE 9 */
  -webkit-transform: scale(0.2,0.2); /* Safari */
  transform: scale(0.2,0.2);
  background: black;
}
.table thead > tr > th { border-bottom-width: 10px;
border-bottom-color:#286090;
}
.table tbody > tr > td
{ border-bottom-width: 5px;
border-bottom-color:#286090;
}
.testClass{
    background-color: green;
}
