.unsernameInputContainer{

    margin: 0 auto;
    width: 75%;
    text-align: center;
    float: none;

}

.unsernameInput{

    text-align: center;

}

.redWarningText{

    color: rgb(255, 0, 0);

}

.buttonsWidth{

    min-width: 150px;

}
