.resultsListTable{
    //overflow: hidden;
	//margin-top: 50px;
	height:800px;
	padding-right:25px;
	padding-left:25px;
	overflow-x:auto;
}

.compStartBtn{
	width: 30%;
	min-width: 100px;
}
.compBackBtn{
	width: 20%;
	min-width: 80px;
}

.blackBoxLoading{
	position:fixed;
	left:-100px;
	top:-100px;
	width:5000px;
	height:5000px;

	background-color:#000;

	z-index: 50;
	opacity:0.6;
}

.centered {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
