.input-controls {
text-align:left;
margin-left: 23px;
}

.radio-inline{
  font-size: medium;
}

input[type="radio"] {
   display: none;
}
input[type="radio"] {
   height: 17px;
   width: 17px;
   display: inline-block;
}
