.input-controls {
text-align:left;
margin-left: 23px;
}

.radio-inline{
  font-size: medium;
}

input[type="radio"] {
   display: none;
}
input[type="radio"] {
   height: 17px;
   width: 17px;
   display: inline-block;
   transform: scale(1.0);
/*   margin: 5px;*/
}

.startQuizButton{
	width: 250px;
}


@media screen and (min-width: 374px) {
    .btn-group {
        padding: 2px;
        }
}
