<h3> {{actionText}} </h3>
<div class="form-signin">


<button class="btn btn-primary btn-m"(click)="loginBTN()">{{login}}</button>
<button class="btn btn-primary btn-m"(click)="registerBTN()">{{register}}</button>

<br>

    <form *ngIf="showLogin"(ngSubmit)="onLogin(f)" #f="ngForm">
        <div class="form-group">
            <label for="mail"> {{email}} </label>
            <input ngControl="mail" type="mail" class="form-control" id="mail" required>
        </div>
        <div>
            <label for="password"> {{passwordd}} </label>
            <input ngControl="password" type="password" class="form-control" id="password" required>
        </div>
        <!-- <div>
            <label for="autoLogin"> Auto Login? </label>
            <input ngControl="autoLogin" type="checkbox" id="autoLogin">
        </div> -->

        <br>
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid"> {{actionText}} </button>
        <div [class.alert-success]="success">
          {{statusMessage}}
        </div>
        <div [class.alert-warning]="error">
          {{statusMessageError}}
        </div>
    </form>


<!--<div [class.alert alert-success]="success">-->

    <br>

</div>

<h3 *ngIf="_quizAuthenticationService.getAuthenticated()">You are authenticated and logged inn</h3>
<h3 *ngIf="!_quizAuthenticationService.getAuthenticated()">You are neither authenticated or logged inn</h3>
