<h3> {{actionText}} </h3>
<div class="form-signin">


	<button class="btn btn-primary btn-m" *ngIf="!_quizAuthenticationService.getAuthenticated()" (click)="loginBTN()">{{loginTranslation}}</button>
	<button class="btn btn-primary btn-m" *ngIf="!_quizAuthenticationService.getAuthenticated()" (click)="registerBTN()">{{registerTranslation}}</button>
	<button class="btn btn-primary btn-m" *ngIf="!_quizAuthenticationService.getAuthenticated()" (click)="forgotPasswordBTN()">{{forgotPasswordTranslation}}</button>
	<button class="btn btn-danger btn-m" *ngIf="_quizAuthenticationService.getAuthenticated()" (click)="logoutBTN()">{{logoutTranslation}}</button>

	<br>

    <form *ngIf="showAuthenticationForm"(ngSubmit)="onLogin(f)" #f="ngForm">
        <div class="form-group">
            <label for="email"> {{emailTranslation}} </label>
            <input ngControl="email" type="mail" class="form-control" id="email" name="email" required>
        </div>
        <div *ngIf="displayInputPassword">
            <label for="password"> {{passworddTranslation}} </label>
            <input ngControl="password" type="password" class="form-control" id="password" required>
        </div>
        <!-- <div>
            <label for="autoLogin"> Auto Login? </label>
            <input ngControl="autoLogin" type="checkbox" id="autoLogin">
        </div> -->

        <br>
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid"> {{actionText}} </button>

    </form>

	<div [class.alert-success]="success">
	  <h3>{{statusMessage}}</h3>
	</div>
	<div [class.alert-danger]="error">
	  <h3>{{statusMessageError}}</h3>
	</div>


<!--<div [class.alert alert-success]="success">-->

</div>

<h3 *ngIf="_quizAuthenticationService.getAuthenticated()">You are authenticated and logged inn</h3>
<h3 *ngIf="!_quizAuthenticationService.getAuthenticated()">You are neither authenticated or logged inn</h3>
