<h3>{{showAllTranslation}} {{limit}} {{highscoresTranslation}}
	<div *ngIf="timespan =='day'">{{dayTranslation}}</div>
	<div *ngIf="timespan =='year'">{{yearTranslation}}</div>
	<span *ngIf="competitionGroupID >= 0">for Competition Group {{competitionGroupID}} </span>
</h3>
<div class="resultsListTable">
	<table class="table table-bordered">
	  <thead>
		<tr>
		  <th>#</th>
		  <th>{{nameTranslation}}</th>
		  <th>{{areaTranslation}}</th>
		  <th>{{scoreTranslation}}</th>
		  <th>{{timeTranslation}}</th>
		</tr>
	  </thead>
	  <tbody>
		<tr *ngFor="let current of quizHighscoreData; let i=index">
		  <th scope="row">{{i+1}}</th>
		  <td>{{current.name}}</td>
		  <td>{{current.area}}</td>
		  <td>{{current.scorePercent}}</td>
		  <td>{{current.time}}</td>
		</tr>

	  </tbody>
	</table>
</div>
