<h2>{{title}}</h2>
<br>
<br>
<div class="buttonsDiv">

    <button  class="quizTypeButton btn btn-primary btn-lg"(click)="theQuiz()">{{normalQuiz}}</button>
    <br>
    <br>
    <button  class="quizTypeButton btn btn-primary btn-lg"(click)="competitionGroup()">{{competitionGroups}}</button>
    <br>
    <br>
    <button  class="quizTypeButton btn btn-primary btn-lg"(click)="formalTest()">{{takeFormalTest}}</button>
    <br>
    <br>
    <button  class="quizTypeButton btn btn-primary btn-lg"(click)="changeLanguage()">{{selectLanguage}}</button>


</div>
<!--

the quiz? - description : pic, video sound, several
competition groupps.
formal test
-->

<birdid-quiz-login> </birdid-quiz-login>
