<h2>{{titleTranslation}}</h2>
<br>
<br>
<div class="buttonsDiv">

    <button  class="quizTypeButton btn btn-primary btn-lg"(click)="theQuiz()">{{normalQuizTranslation}}</button>
    <br>
    <br>
    <button  class="quizTypeButton btn btn-primary btn-lg"(click)="competitionGroup()">{{competitionGroupsTranslation}}</button>
    <br>
    <br>
    <button  class="quizTypeButton btn btn-primary btn-lg"(click)="formalTest()">{{takeFormalTestTranslation}}</button>
    <br>
    <br>
    <button  class="quizTypeButton btn btn-primary btn-lg"(click)="changeLanguage()">{{selectLanguageTranslation}}</button>


</div>
<!--

the quiz? - description : pic, video sound, several
competition groupps.
formal test
-->

<birdid-quiz-login> </birdid-quiz-login>
