<nav class="navbar navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		<a class="navbar-brand" [routerLink]="['QuizMediaSelect']" href="javascript:void(0)">Birdid Angular 2 Quiz</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li [ngClass]="{active: subIsActive(0)}" [routerLink]="['QuizMediaSelect']"><a href="javascript:void(0)">New Quiz</a></li>
				<li [ngClass]="{active: subIsActive(1)}" [routerLink]="['QuizMediaAdditionalSettings']"><a href="javascript:void(0)">Additional Settings</a></li>
				<li [ngClass]="{active: subIsActive(2)}" [routerLink]="['QuizMediaQuiz']"><a href="javascript:void(0)">The Quiz</a></li>
				<li [ngClass]="{active: subIsActive(3)}" [routerLink]="['QuizMediaQuizResults']"><a href="javascript:void(0)">Results</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>

<div class="jumbotron">
	<div *ngIf="(!_quizTranslationService.translationsAreLoaded() || !_quizSettingsService.dataLoaded() || !_quizSpecieService.dataLoaded()) && !_quizTranslationService.translationsLoadProblems() && !_quizSettingsService.dataLoadProblems()">
		<img src="loading.gif" alt="Loading..." height="200" width="200">
	</div>

	<div *ngIf="_quizTranslationService.translationsAreLoaded() && _quizSettingsService.dataLoaded() && _quizSpecieService.dataLoaded()">
		<router-outlet></router-outlet>
	</div>
	<div *ngIf="_quizTranslationService.translationsLoadProblems() || _quizSettingsService.dataLoadProblems()" class="alert alert-danger">
		<h1>Server communication problems!</h1>
	</div>
</div>
