<h2>{{title}}</h2>


<div class="buttonsDiv">

    <p> what you want to select </p>

    <button  class="btn btn-primary btn-lg"(click)="theQuiz()">play normal quiz</button>
    <br>
    <br>
    <button  class="btn btn-primary btn-lg"(click)="competitionGroup()">play using competition group</button>
    <br>
    <br>
    <button  class="btn btn-primary btn-lg"(click)="formalTest()">take formal test</button>


<div>
<!--

the quiz? - description : pic, video sound, several
competition groupps.
formal test
-->

<birdid-quiz-login> </birdid-quiz-login>
