<h1>{{title}}</h1>

<h4> Select difficulty level</h4>
<!--
<div *ngFor="#current of mediaDiff; #i=index" >
    <button (click)="selectMediaDiff(i+1)">{{current}}</button>
</div>
-->

<div class="input-controls">
    <div>
        <label>
            <input #selectedDiff1 name="mediaDiff" type="radio" value="1" (click)="onSelectDiff(selectedDiff1.value)" /> 1
            <input #selectedDiff2 name="mediaDiff" type="radio"  value="2" (click)="onSelectDiff(selectedDiff2.value)" /> 2
            <input #selectedDiff3 name="mediaDiff" type="radio"  value="3" (click)="onSelectDiff(selectedDiff3.value)" /> 3
            <input #selectedDiff4 name="mediaDiff" type="radio"  value="4" (click)="onSelectDiff(selectedDiff4.value)" /> 4
        </label>
    </div>
</div>


<h4>Select area</h4>



<h4> Select number of questions</h4>
<!--<div *ngFor="#current of numberOfQuestions; #i=current" >
    <button (click)="selectNumberOfQuestions(current)">{{current}}</button>
</div>-->
<div class="input-controls">
    <div>
        <label>
            <input #selectedNumberOfQuestions10 name="selectedNumberOfQuestions" type="radio" value="10" (click)="onSelectNumQuestions(selectedNumberOfQuestions10.value)" /> 10
            <input #selectedNumberOfQuestions30 name="selectedNumberOfQuestions" type="radio"  value="30" (click)="onSelectNumQuestions(selectedNumberOfQuestions30.value)" /> 30
            <input #selectedNumberOfQuestions60 name="selectedNumberOfQuestions" type="radio"  value="60" (click)="onSelectNumQuestions(selectedNumberOfQuestions60.value)" /> 60

        </label>
    </div>
</div>


<h4>Select duration per question</h4>
<div class="input-controls">
    <div>
        <label>
            <input #selectedDuration0 name="duration" type="radio" value="0" (click)="onSelectDuration(selectedDuration0.value)" /> Unlimited
            <input #selectedDuration20 name="duration" type="radio"  value="20" (click)="onSelectDuration(selectedDuration20.value)" /> 20 sec
            <input #selectedDuration30 name="duration" type="radio"  value="30" (click)="onSelectDuration(selectedDuration30.value)" /> 30 sec
            <input #selectedDuration40 name="duration" type="radio"  value="40" (click)="onSelectDuration(selectedDuration40.value)" /> 40 sec
        </label>
    </div>
</div>

<h4> Alternatives? </h4>
<div class="input-controls">
    <div>
        <label>
            <input #SelectedAlternatives1 name="alternatives" type="radio" value="true" (click)="onSelectAlternatives(SelectedAlternatives1.value)" /> yes
            <input #SelectedAlternatives2 name="alternatives" type="radio"  value="false" (click)="onSelectAlternatives(SelectedAlternatives2.value)" /> no
        </label>
    </div>
</div>




<button>Start </button>









