
<div *ngIf="loading">
	<img src="loading.gif" alt="Loading..." height="200" width="200">
</div>
<div *ngIf="!loading">
	<div style="float:left; margin-left: 50px;">
		<h2>{{title}}</h2>
		<h4>Select area</h4>

			<select type="number" [(ngModel)]="selectedArea" (ngModelChange)="onSetArea()">
			  <option *ngFor="let c of areaList"  [ngValue]="c.id">{{c.country}}</option>
			</select>

		<!--
		<div *ngFor="let current of mediaDiff; #i=index" >
			<button (click)="selectMediaDiff(i+1)">{{current}}</button>
		</div>
		-->
		<h4> Select difficulty level</h4>
		<div class="btn-group" data-toggle="buttons">
		  <button (click)="onSelectDiff(1)" class="btn btn-lg btn-primary" [ngClass]="{'active': matchCurrentSelectedDiff(1)}" >
			 1
		  </button>
		  <button (click)="onSelectDiff(2)" class="btn btn-lg btn-primary" [ngClass]="{'active': matchCurrentSelectedDiff(2)}">
			 2
		  </button>
		  <button (click)="onSelectDiff(3)" class="btn btn-lg btn-primary" [ngClass]="{'active': matchCurrentSelectedDiff(3)}">
			 3
		  </button>
		  <button (click)="onSelectDiff(4)" class="btn btn-lg btn-primary" [ngClass]="{'active': matchCurrentSelectedDiff(4)}">
			 4
		  </button>
		</div>

		<br>

		<h4> Select number of questions</h4>
		<div class="btn-group" data-toggle="buttons">
		  <button (click)="onSelectNumQuestions(10)" class="btn btn-lg btn-primary" [ngClass]="{'active': matchCurrentNumberQuestion(10)}">
			10
		  </button>
		  <button (click)="onSelectNumQuestions(30)" class="btn btn-lg btn-primary" [ngClass]="{'active': matchCurrentNumberQuestion(30)}">
			30
		  </button>
		  <button (click)="onSelectNumQuestions(60)" class="btn btn-lg btn-primary" [ngClass]="{'active': matchCurrentNumberQuestion(60)}">
			60
		  </button>
		</div>

		<br>

		<h4>Select duration per question</h4>
		<div class="btn-group" data-toggle="buttons">
		  <button (click)="onSelectDuration(0)" class="btn btn-lg btn-primary" [ngClass]="{'active': matchSelectedDuration(0)}">
			Unlimited
		  </button>
		  <button (click)="onSelectDuration(20)" class="btn btn-lg btn-primary" [ngClass]="{'active': matchSelectedDuration(20)}">
			20sec
		  </button>
		  <button (click)="onSelectDuration(30)" class="btn btn-lg btn-primary" [ngClass]="{'active': matchSelectedDuration(30)}">
			30sec
		  </button>
		  <button (click)="onSelectDuration(40)" class="btn btn-lg btn-primary" [ngClass]="{'active': matchSelectedDuration(40)}">
			40sec
		  </button>
		</div>

		<br>

		<span *ngIf="!_quizSettingsService.isSeveralSoundQuiz()">
			<h4> Alternatives? </h4>
			<div class="btn-group" data-toggle="buttons">
			  <button (click)="onSelectAlternative(true)" class="btn btn-lg btn-primary" [ngClass]="{'active': matchSelectedAlternative(true)}">
				yes
			  </button>
			  <button (click)="onSelectAlternative(false)" class="btn btn-lg btn-primary" [ngClass]="{'active': matchSelectedAlternative(false)}">
				no
			  </button>
			</div>
			<br>
			<br>
		</span>

		<h4> Select Species? </h4>
		<div class="btn-group" data-toggle="buttons">
			<button (click)="onSelectSpecie(true)" class="btn btn-lg btn-primary {{yes}}">
				yes
			</button>
			<button (click)="onSelectSpecie(false)" class="btn btn-lg btn-primary {{no}}">
				no
			</button>
		</div>
		<br>
		<br>
		<h4> Want help? </h4>
		<div class="btn-group" data-toggle="buttons">
			<button (click)="setHelp(true)" class="btn btn-lg btn-primary" [ngClass]="{'active': matchSetHelp(true)}">
				yes
			</button>
			<button (click)="setHelp(false)" class="btn btn-lg btn-primary" [ngClass]="{'active': matchSetHelp(false)}">
				no
			</button>
		</div>
		<br>
		<br>

		<button  class="btn btn-primary btn-lg"(click)="startQuiz()">Start Quiz</button>
		<br>
	</div>

	<!--
	<h2> top 20 today </h2>
	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="float:right">
	  <table class="table table-bordered">
		<thead>
		  <tr>
			<th>#</th>
			<th>Name</th>
			<th>Area</th>
			<th>Score</th>
			<th>Time</th>
		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let current of quizHighscoreData; #i=index">
			<th>{{i+1}}</th>
			<td>{{current.name}}</td>
			<td>{{current.area}}</td>
		  <td>{{current.scorePercent}}</td>
		  <td>{{current.time}}</td>
		  </tr>
		</tbody>
	  </table>
	</div>
	<div style="clear:both"></div>
	-->

	<birdid-resultlist [usingTimespan]="'day'" [usingLimit]="20" [updateResultlistInc]="updateResultlistIncrement" ></birdid-resultlist>

	<birdid-resultlist [usingTimespan]="'year'" [usingLimit]="50" [updateResultlistInc]="updateResultlistIncrement" ></birdid-resultlist>


	<div style="clear:both"></div>
</div>
