.mediaSelectTypeButtonDiv {
    padding: 3px;
    text-align: center;
    float: none;
    margin: 0 auto;
}

.centerThis{



}

.buttonsDiv{

    text-align: center;
    float: none;
    margin: 0 auto;

}

.mediaButton{
    min-width: 300px;
    width: 65%;
}
